body {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}

.home,
.movie-card,
.movie-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-top,
.search-bolck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn.add {
  height: 20px;
}

h3,
.btn {
  cursor: pointer;
}